@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.results-container {
	-webkit-animation: fadein 1s ease-in alternate forwards;
	-moz-animation: fadein 1s ease-in alternate forwards;
	animation: fadein 1s ease-in alternate forwards;
}

.video-details-container {
	display: inline-block;
	width: 50%;
}

.video-player-container {
	display: inline-block;
	width: 50%;
	height: 300px;

	.react-player video {
		position: relative;
		left: 0;
		top: 0;
		transform: none;
	}
}
