@import '../../styles/variables';

.stylized-input {
	min-width: 350px !important;
}

.stylized-button {
	border: solid 1px !important;
	margin-top: 10px !important;
	left: -1px !important;
	border-radius: 3px !important;
}

@media only screen and (max-width: $mobile-max-width) {
	.stylized-input {
		width: 100%;
	}

	.stylized-button {
		width: 100%;
	}
}
