$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.stylized-input {
  label {
    color: white;
  }
  
  input {
    color: white; 
  }
}

// .stylized-input {
//   width: 100%;
//   .form__group {
//     position: relative;
//     padding: 15px 0 0;
//     margin-top: 10px;
//     width: 50%;
//     display: inline-block;
//   }

//   .form__field {
//     font-family: inherit;
//     width: 100%;
//     border: 0;
//     border-bottom: 2px solid $gray;
//     outline: 0;
//     font-size: 1.3rem;
//     color: $white;
//     padding: 7px 0;
//     background: transparent;
//     transition: border-color 0.2s;
//     border-width: 3px;
//     border-image: linear-gradient(to right, $primary,$secondary);
//     border-image-slice: 1;
//     font-weight:700;

//     &::placeholder {
//       color: transparent;
//     }

//     &:placeholder-shown ~ .form__label {
//       font-size: 1.3rem;
//       cursor: text;
//       top: 20px;
//     }
//   }

//   .form__label {
//     position: absolute;
//     top: 0;
//     display: block;
//     transition: 0.2s;
//     font-size: 1rem;
//     color: $primary;
//   }

//   .form__field:focus {
//     ~ .form__label {
//       position: absolute;
//       top: 0;
//       display: block;
//       transition: 0.2s;
//       font-size: 1rem;
//       color: $primary;
//     }
//     font-weight: 700;
//   }
//   /* reset input */
//   .form__field{
//     &:required,&:invalid { box-shadow:none; }
//   }

//   .error-text {
//     color: #ff4d4d;
//     display: block;
//     margin-top: 10px;
//   }

//   .input-clear-button {
//     display: block;
//     position: relative;
//   }
// }

// $primary: #11998e;
// $secondary: #38ef7d;
// $white: #fff;
// $gray: #9b9b9b;

// .stylized-button {
// 	display: inline-block;

// 	.button-59 {
// 		background-color: transparent;
// 		align-items: center;
// 		border: 2px solid #9b9b9b;
// 		box-sizing: border-box;
// 		color: white;
// 		cursor: pointer;
// 		display: inline-flex;
// 		fill: white;
// 		font-family: Inter,sans-serif;
// 		font-size: 16px;
// 		font-weight: 600;
// 		height: 41px;
// 		justify-content: center;
// 		letter-spacing: -.8px;
// 		line-height: 24px;
// 		min-width: 140px;
// 		outline: 0;
// 		padding: 0 17px;
// 		text-align: center;
// 		text-decoration: none;
// 		transition: all .3s;
// 		user-select: none;
// 		-webkit-user-select: none;
// 		touch-action: manipulation;

// 		border-width: 3px;
// 		border-image: linear-gradient(to right, $secondary, $primary);
// 		border-image-slice: 1;
// 	  }
	  
// 	  .button-59:focus {
// 		color: white;
// 	  }
	  
// 	  .button-59:hover {
// 		border-color: #06f;
// 		color: #06f;
// 		fill: #06f;
// 	  }
	  
// 	//   @media (min-width: 768px) {
// 	// 	.button-59 {
// 	// 	  min-width: 170px;
// 	// 	}
// 	//   }
// }

// .stylized-button {
// 	display: inline-block;

// 	.button-59 {
// 		background-color: transparent;
// 		align-items: center;
// 		border: 2px solid #9b9b9b;
// 		box-sizing: border-box;
// 		color: white;
// 		cursor: pointer;
// 		display: inline-flex;
// 		fill: white;
// 		font-family: Inter,sans-serif;
// 		font-size: 16px;
// 		font-weight: 600;
// 		height: 41px;
// 		justify-content: center;
// 		letter-spacing: -.8px;
// 		line-height: 24px;
// 		min-width: 140px;
// 		outline: 0;
// 		padding: 0 17px;
// 		text-align: center;
// 		text-decoration: none;
// 		transition: all .3s;
// 		user-select: none;
// 		-webkit-user-select: none;
// 		touch-action: manipulation;

// 		border-width: 3px;
// 		border-image: linear-gradient(to right, $secondary, $primary);
// 		border-image-slice: 1;
// 	  }
	  
// 	  .button-59:focus {
// 		color: white;
// 	  }
	  
// 	  .button-59:hover {
// 		border-color: #06f;
// 		color: #06f;
// 		fill: #06f;
// 	  }
	  
// 	//   @media (min-width: 768px) {
// 	// 	.button-59 {
// 	// 	  min-width: 170px;
// 	// 	}
// 	//   }
// }