@import '../../styles/variables';

.stylized-input {
	min-width: 350px !important;
	border-color: solid 2px 'red' !important;

	label {
		color: white !important;
	}
}

.MuiInputBase-root::before {
	border-width: 2px !important;
	border-image-slice: 1 !important;
	border-image-source: linear-gradient(to left, #d53a9d, #743ad5) !important;
}

.MuiInputBase-root:hover::before {
	border-width: 2px !important;
	border-image-slice: 1 !important;
	border-image-source: linear-gradient(to left, #d53a9d, #743ad5) !important;
}

.MuiInputLabel-root {
	color: 'green';
	border: '1px solid green';
	border-radius: 1;
}

.stylized-button {
	top: -0.5px;
	border: solid 1px !important;
	border-width: 2px !important;
	margin-top: 10px !important;
	left: -1px !important;
	border-radius: 3px !important;
	color: white !important;

	border-image-slice: 1 !important;
	border-image-source: linear-gradient(to left, #743ad5, #d53a9d) !important;
}

@media only screen and (max-width: $mobile-max-width) {
	.stylized-input {
		width: 100%;
	}

	.stylized-button {
		width: 100%;
	}
}
