#home-page-container {
	> div {
		margin-bottom: 30px;
	}
}

.collapsable {
	overflow: hidden;
	max-height: 300px;
	transition: max-height 2s cubic-bezier(0, 1.05, 0, 1),
		opacity 3s cubic-bezier(0, 1.05, 0, 1);
}

.collapsable.collapsed {
	max-height: 0px;
	margin-bottom: 0px;
	opacity: 0;
}
