.specific-cost-block {

    .specific-cost-number {
        font-weight: bolder;
        font-size: xxx-large;
    }

    .specific-cost-label {
        display: block;
        text-align: center;
    }
}