@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.results-container {
    -webkit-animation: fadein 1s ease-in alternate forwards;
    -moz-animation: fadein 1s ease-in alternate forwards;
    animation: fadein 1s ease-in alternate forwards;
}

.opportunity-cost-block-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cost-block {
    border-bottom: solid 2px white;
    width: 100px;
    padding-bottom: 15px;
    display: flex; 
    margin: 10px;
    flex-direction: column;

    label {
        display: block;
        text-align: center;
    }

    .cost-value {
        font-weight: bolder;
        font-size: xxx-large;
    }

    .cost-unit {

    }
}

.specific-cost-block {
    display: flex;
    direction: row;
}

.video-details-container {
    display: inline-block;
    width: 50%;
}

.video-player-container {
    display: inline-block;
    width: 50%;
    height: 300px;

    .react-player video {
        position: relative;
        left: 0;
        top: 0;
        transform: none;
    }
}
