@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.results-container {
    -webkit-animation: fadein 1s ease-in alternate forwards;
    -moz-animation: fadein 1s ease-in alternate forwards;
    animation: fadein 1s ease-in alternate forwards;
}