@import '../variables.scss';

@media only screen and (max-width: $mobile-max-width) {
	.stylized-input {
		.form__group {
			display: block;
			width: 80% !important;
			margin-bottom: 10px;
		}

		.stylized-button {
			display: block;

			button {
				width: 80%;
			}
		}
	}
}
